<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <filter>
  	<filter-name>adminlogin</filter-name>
  	<display-name>adminlogin</display-name>
  	<description></description>
  	<filter-class>com.files.adminlogin</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>adminlogin</filter-name>
  	<url-pattern>/adminlogi</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>adminlog</servlet-name>
  	<display-name>adminlog</display-name>
  	<description></description>
  	<servlet-class>com.files.adminlog</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>newregistration</servlet-name>
  	<display-name>newregistration</display-name>
  	<description></description>
  	<servlet-class>com.files.newregistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userlog</servlet-name>
  	<display-name>userlog</display-name>
  	<description></description>
  	<servlet-class>com.files.userlog</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userregistration</servlet-name>
  	<display-name>userregistration</display-name>
  	<description></description>
  	<servlet-class>com.files.userregistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>bookregister</servlet-name>
  	<display-name>bookregister</display-name>
  	<description></description>
  	<servlet-class>com.files.bookregister</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deletebooks</servlet-name>
  	<display-name>deletebooks</display-name>
  	<description></description>
  	<servlet-class>com.files.deletebooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>issuebooks</servlet-name>
  	<display-name>issuebooks</display-name>
  	<description></description>
  	<servlet-class>com.files.issuebooks</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>returnbook</servlet-name>
  	<display-name>returnbook</display-name>
  	<description></description>
  	<servlet-class>com.files.returnbook</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>admininfo</servlet-name>
  	<display-name>admininfo</display-name>
  	<description></description>
  	<servlet-class>com.files.admininfo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>admindata</servlet-name>
  	<display-name>admindata</display-name>
  	<description></description>
  	<servlet-class>com.files.admindata</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updatepass</servlet-name>
  	<display-name>updatepass</display-name>
  	<description></description>
  	<servlet-class>com.files.updatepass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>isbooklist</servlet-name>
  	<display-name>isbooklist</display-name>
  	<description></description>
  	<servlet-class>com.files.isbooklist</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>userdata</servlet-name>
  	<display-name>userdata</display-name>
  	<description></description>
  	<servlet-class>com.files.userdata</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateuserprof</servlet-name>
  	<display-name>updateuserprof</display-name>
  	<description></description>
  	<servlet-class>com.files.updateuserprof</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>adminlog</servlet-name>
  	<url-pattern>/adminlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>newregistration</servlet-name>
  	<url-pattern>/newregistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userlog</servlet-name>
  	<url-pattern>/userlog</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userregistration</servlet-name>
  	<url-pattern>/userregistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>bookregister</servlet-name>
  	<url-pattern>/bookregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deletebooks</servlet-name>
  	<url-pattern>/deletebooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>issuebooks</servlet-name>
  	<url-pattern>/issuebooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>returnbook</servlet-name>
  	<url-pattern>/returnbook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admininfo</servlet-name>
  	<url-pattern>/admininfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>admindata</servlet-name>
  	<url-pattern>/admindata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updatepass</servlet-name>
  	<url-pattern>/updatepass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>isbooklist</servlet-name>
  	<url-pattern>/isbooklist</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>userdata</servlet-name>
  	<url-pattern>/userdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateuserprof</servlet-name>
  	<url-pattern>/updateuserprof</url-pattern>
  </servlet-mapping>
  
  <session-config>
  <session-timeout>15</session-timeout>
  </session-config>
</web-app>
